__pycache__/gunodov_functions.cpython-311.pyc
__pycache__/godunov_functions.cpython-311.pyc
__pycache__/gunodov_functions.cpython-311.pyc
__pycache__/godunovfunctions.cpython-311.pyc
__pycache__/gunodov_functions.cpython-311.pyc
__pycache__/evolutionaryfunctions.cpython-311.pyc
